.active {
    background: #000000;
    color: white;
    border-radius: 2rem;
    display: inline-block;
  
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 10px -14px 14px #FFF;
    z-index: 999;

  }